# Copia este archivo como .env (Vite solo lee variables que empiezan con VITE_)
VITE_API_URL=http://localhost:5000/api

VITE_FIREBASE_API_KEY=AIzaSyBjYhhMB0OYwxBZFVGKeQs3RdOkogyw_RM
VITE_FIREBASE_AUTH_DOMAIN=tanextli-f838d.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=tanextli-f838d
VITE_FIREBASE_STORAGE_BUCKET=tanextli-f838d.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=471632125508
VITE_FIREBASE_APP_ID=1:471632125508:web:b2c6ececd7d7cc6d61e611
