# Copia este archivo como .env y llena los valores
PORT=5000

# Cadena larga y aleatoria. NO la subas a GitHub.
JWT_SECRET=cambia_esto_por_una_cadena_larga_y_aleatoria

# ID del proyecto de Firebase (sirve para verificar el login con Google)
FIREBASE_PROJECT_ID=tanextli-f838d

# URL del frontend (Vite) para CORS
CLIENT_URL=http://localhost:5173
